<!DOCTYPE html>
<html>
<head>
  <title>Sequelize Test</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <h1>Edit <%= user.firstName %> <%= user.lastName %></h1>

  <form action="/edituser" id="update-user">
    <input type="hidden" name="id" value="<%= user.id %>">
    <input type="text" name="firstName" value="<%= user.firstName %>">
    <input type="text" name="lastName" value="<%= user.lastName %>">
    <input type="number" name="age" value="<%= user.age %>">
    <input type="email" name="email" value="<%= user.email %>">
    <input type="submit">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/delete.js"></script>
  <script src="/edit.js"></script>
</body>
</html>