<h1>Favorites</h1>
<% favorites.forEach(function(favorite) { %>
  <h2>
	  <a href="/movies/<%= favorite.imdbId %>">
		  <%= favorite.title %> - <small><%= favorite.year %></small>
	  </a>
  </h2>
  <a class="btn btn-primary" href="/favorites/<%= favorite.imdbId %>/comments">See Comments</a>
  <a class="btn btn-primary" href="/favorites/<%= favorite.imdbId %>/tag">add a tag</a>
<% }); %>
